/* header and main/home page */

body{
    background-color: #F5F5F5;
}

header {
    border-bottom: 1px solid #000000;
    padding: 30px 10px 15px 7px;
}

header .header{
    text-align: center;
}

 .header-item{
    display: inline;
    margin-right: 50px;
    line-height: 27px;
    font-size: 18px;
} 

a {
     text-decoration: none; 
    color: black;
    margin-right: 66px; 
    font-family: 'Poppins', sans-serif;
    
}

 .info-text{
    margin-top: 50px;
    color: #000000;
    line-height: 29px;
    font-size: 24px;
    margin-left: 670px;

}
.products-section {
   padding: 165px 115px 150px 98px; 

}

.block {
    display: inline-block;
}

.content {
    border: 1px solid black;
    display: inline-block;
    width: 333px;
    padding: 15px 15px 25px 15px;
    margin-left: 40px;
}

.content img {
    width: 100%;
} 

.content h2 {
    margin: 15px 0;
    line-height: 24px;
    letter-spacing: 1px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
} 
 
 .content p{
    font-size: 14px;
    line-height: 21px;
    margin-left: 10px; 
 }
 
  .block-middle {
    margin:0 98px;
 } 

 .product-button button{
    font-size: 12px;
    line-height: 18px;
    padding: 7px 30px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.product-button {
    text-align: right;
     margin-top: 20px; 
}

/* contact and about page */

h3{
    color:#7D0000;
    align-items: center;
    margin-left: 700px;
    margin-top: 112px;
    margin-bottom: 118px;
    line-height: 54px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
 .contact{
    margin-left: 750px;
    font-family: 'Open Sans', sans-serif;
 }

 .about{
    font-size: 25px;
    line-height: 41.25px;
    color:#000000;
    width: 775px;
    height: 205px;
    margin-left: 175px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
 }

 address{
    margin-left: 175px;
    font-size: 25px;
    line-height: 34.05px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
 }

 .contact-size{
    margin-left: 206px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    
 }

 span{
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
 }

 h4,h5 {
    margin-top: 32px;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
 }
 
  
.content_footer{
    margin-top: 62px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;

 } 

 .content_footer li{
    line-height: 19px;
    font-size: 14px;
 } 

 
